/*!
 * Start Bootstrap - Blog Post (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*body {*/
    /*padding-top: 70px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
/*}*/

/*section {*/
    /*padding-top: 50px;*/
/*}*/

footer {
    margin: 50px 0;
}

.affix {
    top: 10px;
}

/*.anchor {*/
    /*margin-top: -80px;*/
    /*padding-top: 80px;*/
/*}*/

.scrollmenu li ul {
    padding-left: 20px;
}

.scrollmenu .active .active {
    text-decoration: underline;
}

.hljs {
    background-color: transparent;
    padding: 0;
}

pre {
    padding: 0;
}